* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: sans-serif;
}

#homeContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#sideMenu {
  width: 35%;
  padding: 10px;
  /* background-color: rgb(245, 227, 205); */
}

#mainContainer {
  width: 65%;
  padding: 10px;
  /* background-color: rgb(220, 244, 180); */
}
